/* DirectMessageSidebar.css */

.container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding: 20px;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header {
  text-align: center;
}

.header h1 {
  padding: 20px;
  margin: 0px;
  text-align: center;
  color: var(--header-text-color);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

.chat-preview {
  background-color: var(--bg-color);
  border: 1px solid var(--notification-border-color);

  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.chat-preview-selected {
  border: 1px solid var(--notification-border-color);
  color: var(bg);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  background-color: var(--button-bg);
}

.chat-preview-selected h1 {
  color: var(--header-text-color);
}

.chat-preview:hover {
  background-color: #e0e0e0;
}

.direct-messages-container {
  margin-top: 20px;
  overflow-y: auto;
  max-height: 60vh; /* Adjust according to your needs */
}

.add-user {
  margin-top: 20px;
}

.add-user input {
  padding: 10px;
  border: 1px solid var(--notification-border-color);
  border-radius: 5px;
  margin-right: 10px;
}

.add-user button {
  padding: 10px;
  background-color: var(--button-bg);
  color: var(--header-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-user button:hover {
  background-color: var(--button-hover-bg);
  transition: background-color 0.3s;
}
