/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 5px 30px;
  margin: 0px;
  position: relative;
}

.logo {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.logo .logo-text {
  font-family: "Arial", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.nav-links {
  flex: 1;
  margin-left: 50px;
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 25px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
}

.search-bar input[type="text"] {
  display: flex;
  align-items: center;
  border: 20px;
  background-color: rgba(128, 128, 128, 0.33);
  padding: 5px;
  border: #cbd5e1;
  padding: 10px;
  border: none;
  border-radius: 20px;
}

.search-bar button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.header-profile-container {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-img-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ccc; /* Placeholder background color */
}

.header-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 100px;
  height: 20px;
  border-radius: 4px;
}

.header-text-container p {
  margin: 0px;
}

.header-placeholder {
  display: flex;
  align-items: center;
}

.header-placeholder .img-placeholder {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
}

.header-placeholder .header-text-placeholder {
  margin-left: 10px;
  width: 100px;
  height: 20px;
  background-color: #ccc;
  border-radius: 4px;
}

.notification-container {
  position: relative;
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
  margin-right: 15px;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.notification-container p {
  margin: 0;
  font-size: 16px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-dropdown-container {
  position: absolute;
  top: 135%;
  left: -50%;
  width: 310%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  max-height: 400px;
  overflow-y: auto;
}

.notification-dropdown-container h1 {
  margin: 0;
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.notification-dropdown-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.friend-request-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.friend-request-container li {
  margin: 0;
  font-size: 16px;
  flex: 1;
  text-align: left;
}

.friend-request-container button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 6px 12px;
  margin: 0 4px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  flex-shrink: 0;
}

.friend-request-container button:hover {
  background-color: #0871e0;
}

.friend-request-container button.ignore {
  background-color: #dc3545;
}

.friend-request-container button.ignore:hover {
  background-color: #c82333;
}

/* For Notification Bell */

.bell-container {
  position: relative;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.bell-icon {
  width: 100%;
  height: 100%;
}

.notification-number {
  position: absolute;
  top: -4px;
  right: -2px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
