.profile-page {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  height: 100%;
  width: 100%;
}

.profile-container {
  padding: 20px;
  height: 33%;
  width: 40%;
  background-color: var(--bg-color);
  border: 1px solid var(--notification-border-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  gap: 10px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 96px;
  max-height: 96px;
  grid-area: 1 / 1 / 3 / 2;
}

.profile-container img {
  min-width: 80%;
  min-height: 80%;
  border-radius: 100px;
}

.text-container {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 3 / 3;
  margin-left: 10px;
  text-align: left;
}

.text-container h1 {
  margin-bottom: 0;
}

.text-container p {
  margin-top: 0;
}

.placeholder-img {
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  border-radius: 50%;
  background-color: #cccccc;
}

.profile-container button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 40px;
  padding: 10px 15px;
  background-color: var(--button-bg);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition:
    background-color 0.3s,
    transform 0.3s,
    box-shadow 0.3s;
}

.profile-container button:hover {
  background-color: var(--button-hover-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  transform: translateY(-2px);
}

.profile-container button:active {
  background-color: #004080;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.profile-container button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.button-container {
  grid-area: 1 / 3 / 3 / 4;
  display: grid;
  grid-template-rows: 1fr, 1fr;
  gap: 0px;
}

.text-container-placeholder {
  margin-top: 20px;
  margin-left: 5px;
  width: 200px;
  height: 20px;
  background-color: #ccc;
  border-radius: 4px;
}

.button-placeholder {
  height: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 40px;
  padding: 10px 15px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  transition:
    background-color 0.3s,
    transform 0.3s,
    box-shadow 0.3s;
}
